.markdownEditor
{
  display: flex;
  flex-direction: column;
}

.markdownEditor__toolbar
{
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  align-self: center;
}

.markdownEditor__toolbar button,
.markdownEditor__toolbar a
{
  background: none;
  border: 1px solid var(--colors-border);
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colors-mediumRed);
}

.markdownEditor__help
{
  text-decoration: none;
  border-radius: 10%;
}

.markdownEditor textarea
{
  min-height: 150px;
}