.emailForm>input,.article
{
    transition: all 0.4s cubic-bezier(0.47, 1.64, 0.18, -0.35);
}

.emailForm>input:hover
{
    border-color: #5B1A04;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-1rem);
}

.emailForm>input:focus
{
    border-color: #5B1A04;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
    transform: translateY(-1rem);

}



.article:hover
{
    cursor: pointer;
    transform: scale(1.05);
    border: 1px dotted rgba(94, 2, 2, 0.51);
}