.dndPdfInline
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 768px)
    {
        width: 100%;
        align-items: flex-start;
        overflow: visible;
    }

    &__labelsContainer
    {
        display: flex;
        gap: var(--spacing-4);
        margin-right: var(--spacing-4);
        align-items: center;
        justify-content: center;
        margin: var(--spacing-4) 0;
        width: 25%;
        justify-content: space-between;

        @media (max-width: 1024px)
        {
            width: 100%;
            margin: var(--spacing-2) 0;
            gap: var(--spacing-2);
            justify-content: flex-start;
            align-items: flex-start;

        }

        @media (max-width: 768px)
        {
            flex-direction: column;
            align-items: center;
            gap: var(--spacing-2);
        }

        label
        {
            font-size: var(--font-size-5);
            color: var(--colors-darkRed);
            font-weight: bold;
        }

        input
        {
            margin-left: var(--spacing-2);
            padding: var(--spacing-2) var(--spacing-4);
            border-radius: var(--spacing-2);
            border: 1px solid var(--colors-border);
            font-size: var(--font-size-4);
        }



    }

    &__info
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: var(--font-size-4);
        font-weight: bold;
    }

    &__iframe
    {
        width: 100%;
        height: 100vh;
        align-self: start;
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-left: var(--spacing-2);
        border-radius: var(--spacing-2);

        @media (max-width: 1024px)
        {
            width: 80%;
            height: 80vh;
            border: 1px dotted var(--colors-darkRedLowOpacy);
            border-radius: var(--spacing-2);
            overflow: visible;

        }
    }

    &__toggleControls
    {
        position: absolute;
        bottom: 25%;
        left: var(--spacing-2);
        display: flex;
        gap: var(--spacing-4);
        margin: var(--spacing-1) 0;
        font-size: var(--font-size-4);
        transition: opacity 0.3s ease;
        padding: var(--spacing-2) var(--spacing-4);
        z-index: var(--z-dropdown);
        
        @media (max-width: 768px)
        {
            display: none;
        }
    }

    &__controls
    {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        position: absolute;
        left: var(--spacing-2);
        bottom: var(--spacing-4);
        gap: var(--spacing-4);
        margin: var(--spacing-2) 0;
        font-size: var(--font-size-4);
        background: var(--colors-lightYellow);
        border: 1px solid var(--colors-border);
        border-radius: var(--spacing-2);
        padding: var(--spacing-1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: var(--z-dropdown);

        button
        {
            background: none;
            border: none;
            cursor: pointer;
            font-size: var(--font-size-4);
            color: var(--colors-darkRed);
            padding: var(--spacing-1);
            display: flex;
            align-items: center;
            gap: var(--spacing-2);

            &:hover
            {
                color: var(--colors-red);
            }
        }

        &--show
        {
            opacity: 1;
            pointer-events: auto;
        }


        
    }

    &__iframeContainer
    {
        width: 100%;
        height: 100%;
        position: relative;
        display: grid;
        gap: var(--spacing-4);
        grid-template-columns: 1fr 1fr;

        @media (max-width: 1024px)
        {
            grid-template-columns: 1fr;
            justify-items: center;

        }

    }

    &__lastSaved
    {
        font-size: var(--font-size-2);
        color: var(--colors-darkRed);
        font-weight: bold;
        word-wrap: break-word;
        text-align: center;
    }

    &__button
    {
        display: flex;
        gap: var(--spacing-1);
        align-items: center;

        &--green
        {
            background-color: var(--colors-green);
        }

        &--red
        {
            background-color: var(--colors-mediumRed);
        }

    }
    &__mobileWarning
    {
        background-color: var(--colors-lightYellow);
        border: 1px solid var(--colors-border);
        border-radius: var(--spacing-2);
        padding: var(--spacing-4);
        margin-bottom: var(--spacing-4);
        font-size: var(--font-size-5);
        font-weight: bold;
        color: var(--colors-darkRed);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        justify-items: center;
        align-items: center;
        text-align: center;
        width: 60%;
        display: flex;
        flex-direction: column
        
    }
}