:root
{
  --colors-mediumRed: #d01010;
  --colors-darkRed: #5e0202;
  --colors-darkRedLowOpacy: #5e0202a9;
  --colors-black: #000000;
  --colors-white: #ffffff;
  --colors-green: #4caf50;

  --colors-lightYellow: #fee09c;
  --colors-darkYellow: #fbc02d;
  --colors-purple: #9b27b0cb;


  --colors-lightYellow: #fee09c;
  --colors-darkYellow: #fbc02d;
  --colors-darkOrange: #f57c00;

  --colors-border: rgba(0, 0, 0, 0.75);
  --colors-font: #444444;
  --colors-subtitle: #7a7a7a;
  --background-color: #fff1d7;

  --portal-color-1: #b388eb8b;
  --portal-color-2: #765e9e90;
  --portal-color-3: #460aad90;
}