@use "sass:math";

$mobileMaxWidth: 700px;
$tabletMaxWidth: 900px;
$desktopMaxWidth: 1200px;

$fluid-range: $desktopMaxWidth - $mobileMaxWidth;

@function fluid($min, $max)
{
  $slope: math.div(($max - $min), $fluid-range);
  @return clamp(#{$min}, calc(#{$min} + (100vw - #{$mobileMaxWidth}) * #{$slope}), #{$max});
}

:root
{
  --mobileMaxWidth: #{$mobileMaxWidth};
  --tabletMaxWidth: #{$tabletMaxWidth};
  --desktopMaxWidth: #{$desktopMaxWidth};

  --header-size: #{fluid(116px, 116px)};
  --footer-size: #{fluid(116px, 116px)};
  --loading-size: #{fluid(100px, 100px)};

  --image-size-1: #{fluid(75px, 100px)};
  --image-size-2: #{fluid(150px, 200px)};
  --image-size-3: #{fluid(225px, 300px)};
  --image-size-4: #{fluid(325px, 400px)};
  --image-size-5: #{fluid(375px, 500px)};

  --input-size-1: #{fluid(30px, 30px)};
  --input-size-2: #{fluid(60px, 60px)};
  --input-size-3: #{fluid(90px, 90px)};
  --input-size-4: #{fluid(120px, 120px)};
  --input-size-5: #{fluid(150px, 150px)};
  --input-size-6: #{fluid(180px, 180px)};
  --input-size-7: #{fluid(210px, 210px)};
  --input-size-8: #{fluid(240px, 240px)};
  --input-size-9: #{fluid(270px, 270px)};
  --input-size-10: #{fluid(300px, 300px)};
  --input-size-11: #{fluid(330px, 330px)};
  --input-size-12: #{fluid(360px, 360px)};
}