:root
{
  --header-size: 116px;
  --footer-size: 116px;
  --loading-size: 100px;

  --image-size-1: 100px;
  --image-size-2: 200px;
  --image-size-3: 300px;
  --image-size-4: 400px;
  --image-size-5: 500px;

  --input-size-1: 30px;
  --input-size-2: 60px;
  --input-size-3: 90px;
  --input-size-4: 120px;
  --input-size-5: 150px;



  @media (max-width: 700px)
  {
    --image-size-1: 75px;
    --image-size-2: 150px;
    --image-size-3: 225px;
    --image-size-4: 325px;
    --image-size-5: 375px;
  }

  --mobileMaxWidth: 700px;
  --tabletMaxWidth: 900px;
}