:root
{
    --z-base: 0;
    --z-dropdown: 1;
    --z-modal: 2;
    --z-tooltip: 3;
    --z-mobile-menu: 6;
    --z-orders-floating: 50;
    --z-orders-modal-backdrop: 1000;
    --z-orders-modal-header: 10;
}
