@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$background-color: #FFF1D7;

body
{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $background-color;
  margin-top: 116px;

}

html,
body
{
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100; // or wherever in the stack you want the layer
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  color: adjust-color($background-color, $lightness: 50%);

}

p
{
  color: adjust-color($background-color, $lightness: 55%);
}