.generalTab {
  margin-bottom: var(--spacing-2);

  display: flex;
  &__formDivider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
  }
  &__formDivider:nth-child(1) {
    width: 40%;
  }
  &__formDivider:nth-child(2) {
    width: 60%;
  }
}
