.notFound
{
    margin-top: 0.8rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;

    .notFound__mainImage
    {
        width: 65%;
        user-select: none;
    }
}

.link
{
    transition: 0.25s;

    &--hoverUnderline:hover
    {
        text-decoration: underline;
    }
}